<!DOCTYPE html>
<html lang="ar">
    <head>
        <link rel="stylesheet" href="/static/css/dashboard.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FCI Tanta</title>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        <header>
            <div></div>
            <div>
                <img src="/static/images/logo.png" alt="TwoAxis">
            </div>
            <div>
                <button id="logout"><i class="fa-solid fa-right-from-bracket"></i></button>
            </div>
        </header>
        <section id="options">
            <% if(permissions.includes("manage_users")) { %>
                <a href="/manage-users">
                    <h1><i class="fa-solid fa-users"></i></h1>
                    <p>ادارة المستخدمين</p>
                </a>
            <% } %>
            <% if(permissions.includes("manage_tasks")) { %>
                <a href="/manage-tasks">
                    <h1><i class="fa-solid fa-table-list"></i></h1>
                    <p>ادارة التاسكات</p>
                </a>
            <% } %>
            <a href="/tasks">
                <h1><i class="fa-solid fa-list-check"></i></h1>
                <p>تاسكاتي</p>
            </a>
        </section>
        <script src="/static/js/logout.js"></script>
    </body>
</html>
