<!DOCTYPE html>
<html lang="ar">
    <head>
        <link rel="stylesheet" href="/static/css/manage-users.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FCI Tanta</title>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        <header>
            <div></div>
            <div>
                <img src="/static/images/logo.png" alt="TwoAxis">
            </div>
            <div>
                <button id="logout"><i class="fa-solid fa-right-from-bracket"></i></button>
            </div>
        </header>
        <section id="users">
            <div id="header">
                <div>
                    <h1>المستخدمين</h1>
                </div>
                <div>
                    <a href="/manage-users/new" id="add"><i class="fa-solid fa-plus"></i> اضافة مستخدم</a>
                </div>
            </div>
            <input type="text" placeholder="ابحث عن شخصٍ ما" id="search">
            <div class="line"></div>
            <div id="content">
                <% users.forEach((user) => { %>
                    <a class="user" href="/manage-users/<%= user.id %>">
                        <div>
                            <p><%= user.name %></p>
                        </div>
                        <div>
                            <p><%= user.username %></p>
                        </div>
                        <div>
                            <button><i class="fa-solid fa-arrow-left"></i></button>
                        </div>
                    </a>
                <% }); %>
            </div>
        </section>
        <script src="/static/js/logout.js"></script>
    </body>
</html>
