@import url("master.css");

header {
    display: flex;
    padding: 20px;
    align-items: center;
    border-bottom: 1px solid lightgray;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    direction: ltr;
}
header div{
    flex: 1;
}
header div {
    text-align: center;
}
header div img {
    width: 200px;
}
header div:nth-of-type(3) {
    display: flex;
    justify-content: flex-start;
}
header div:nth-of-type(3) button {
    background: none;
    border: none;
    font-size: 30px;
    color: #A72222;
}
section#user, section#permissions {
    width: 800px;
    margin: 40px auto;
}
section#user h1, section#permissions h1 {
    font-size: 50px;
    margin-bottom: 40px;
}
section#user div.row {
    display: flex;
}
section#user div.row + div.row {
    margin-top: 20px;
}

section#user div.row div.block {
    flex: 1;
}
section#user div.row div.block h2 {
    font-size: 20px;
}
section#user div.row div.block p {
    font-size: 18px;
}
section#permissions div {
    direction: ltr;
    text-align: right;
}
section#permissions div label {
    font-size: 20px;
}